/* About component container */
.about-container {
    padding: 32px;
    position: relative;
  }
  
  /* Edit button style */
  .about-edit-button {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 10px 15px;
    background-color: rgb(243, 210, 26);
    border-radius: 7px;

  }
  
  /* User information style */
  .about-info {
    margin-top: 20px;
  }
  
  /* Individual user information items */
  .about-info-item {
    margin: 5px 0;
    padding: 10px 0;
    font-weight: 500;
    font-size: 24px;
  }
  